body{
	background-color: DCCCBB;
	color:  black; 
	font-family:'Helvetica', cursive;
	font-size: 45px;
	text-align: center;
	padding-left: 2%; 
	padding-right:2%;
	max-width: 100%;
	justify-content: center;
	align-content: center;
}


footer{
	margin-top: 50px;
	text-align: center;
}


a{
	font-family: 'Times New Roman', Times, sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: underline; /*makes all links underlined*/
	transition: 800ms ease all;
	line-height: 15.184px;
}

a:hover{
	color: blue;
	transition: 800ms ease all;
}

#header{
	display: flex; 
	padding-left: 20px;
	padding-right: 100px;
	justify-content: space-between; /*make sure each element is on either side of container*/
	max-width: 100%;

}

h1{
	color: A7754D;
	font-family: 'Cormorant Garamond', serif;
	font-size: 45px;
}

h2{
	font-family: 'Times New Roman', Times, sans-serif;
	font-size: 20px;
	text-align: center;
	padding-bottom: -5%;

}

.typewriter h2{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1px solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: -1 auto; /* Gives that scrolling effect as the typing happens */
  animation:
  	typing 1s steps(20,end) 1s 1 normal both, 
          blink-caret .4s step-end infinite; 
    
}
/*create button for resume*/
.resume-button{
	color:  black;
	letter-spacing: 1px; /*1px of space between each letter*/
	border-radius:  25px;
	border: 1px solid black;
	background: black;
	width:  100px;
	height: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 2%;
}
/*any link inside of resume button*/

.resume-button a{
	color: white;
	font-family: PlayFairDisplay,serif;
	font-weight: 400;
	font-size: 15px;
}

.resume-button a:hover{
	color: black; 
	font-weight: 400;
	transition: 0ms;
}
.resume-button:hover{
	background:  white;
	transition:  800ms ease all;
	border: 1px solid black;
}

#container{
	flex-direction: row;
	display: flex;
	column-gap: 10px;
  justify-content: inherit;
	max-width: 100%;
	height: fit-content;
	background: transparent;
	border-color: 1px solid black; 
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	padding-left: 0%;
	padding-right: 0%;
	margin-bottom: 10px;
}


.profilepic{
	padding-top: 1%;
	line-height: 25px;
	border-radius: 20px;
	display: block;
	padding-right: 10%;
}

.profilepic img{
	padding-top: 1%;
	max-width: 100%;
	height: 620px;
	border-radius: 0px;
	margin-right: 50%;
}

.bio{
	width: 35%;
	font-size: 20px; 
	font-family: 'Times New Roman', Times, serif;
	color:  black;
	line-height: 50px;
	border-radius: 20px;
	/*padding: 10% 8% 2% -15%; /*top, right, bottom, left*/
	margin: 10% 0% 2% 0%;
	padding-right: 0%;	
}


#column{
	flex-direction: row;
	display: flex;
	column-gap: 20px;
  justify-content: space-between;
	max-width: 100%;
	width: auto;
	height: 50%;
	background: transparent;
	border-color: 1px solid black; 
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	padding-left: 4%;
	padding-right: 4%;
	margin-top: 0%;
	margin-right: 0%; 
	text-align: center;
}

.column-left{
	float: left;
	/*width: 18%;
	height: 80%;*/
	border-radius: 20px;
	/*font-size: 14px;*/
	/*padding: 3%;*/
	background: transparent;
	transition: 800ms ease all;
	border: 1px solid black;
	background-color: C5CBD3;
}

.column-left:hover{
	transform: scale(1.1);
	-webkit-box-shadow:  0px 0px 36px 4px #D9D9D9;
	box-shadow: #D9D9D9;
	transition: 800ms ease all;
	border:  1px solid black;
	background: transparent;
}

.column-middle{
	/*width:  18%;*/
	/*height: 80%;*/
	border-radius: 20px;
	/*font-size: 14px;*/
	background-color: C5CBD3;
	border: 1px solid black;
}

.column-middle:hover{
	transform: scale(1.1);
	-webkit-box-shadow:  0px 0px 36px 4px #D9D9D9;
	box-shadow: #D9D9D9;
	transition: 800ms ease all;
	border: 1px solid black;
	background-color: transparent;
}

.column-right{
	float: right;
	/*width:  18%;*/
	/*height:  80%;*/
	border-radius: 20px;
	/*padding: 3%;*/
	border: 1px solid black;
	background-color:C5CBD3;
}


.column-right:hover{
	transform: scale(1.1);
	-webkit-box-shadow:  0px 0px 36px 4px #D9D9D9;
	box-shadow: #D9D9D9;
	transition: 800ms ease all;
	border: 1px solid black;
	background: transparent;
}


p{
	font-size:  20px; 
	font-family: 'Times New Roman', Times, serif;
	color: black;
	line-height: 25px;
	max-width: 100%;
	padding: 2% 2% 0% 0%; /*top, right, bottom, left*/
	}

p1{
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	color: darkgrey;
	line-height: 10px;
	width: 75%;
	text-align: center;
	padding: 2% 10% 0% 10%;
}

p2{
	font-size:  40px; 
	font-family: 'Times New Roman', Times, serif;
	color:  black;
}

p3{
	font-size:  25px; 
	font-family: 'Times New Roman', Times, serif;
	color:  black;
}

#LocationBox{
	max-width: 27%;
	justify-content: safe center;
	margin-left: 36%;
	margin-top: 5%;
}

#bioNlinks{
	max-width: 100%;
	justify-content: center;
	margin-top: 10%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}

.popup img{
	padding-top: 30%;
	max-width: 110%;
	height: 500px;
	margin: 50% 30% 0% 30%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: 8D98A7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* GLOBAL STYLES */


/* DEMO-SPECIFIC STYLES */
.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1px solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
   typing 1s steps(9,end) 1s 1 normal both, 
          blink-caret .4s step-end infinite; 

}



@media screen and (min-width: 780px){
	.full-width-img{ /* this is your id or class name */
		margin: auto;
		width:90%;

}


@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}


