body{
	background-color: skyblue;
	color:  rosybrown; 
	font-family:'Helvetica', cursive;
	font-size: 20px;
	text-align: center;
	/*
	background-image: url(../images/background.png);
	background-position: center top;
	background-repeat: no-repeat;
	*/
	background-width: 50% auto; 
	padding-left: 10%; 
	padding-right:10%;
}


a{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	color: black;
	text-decoration: underline; /*makes all links underlined*/
	transition: 800ms ease all;
	line-height: 15.184px;
}


a:hover{
	color: blue;
	transition: 800ms ease all;
}


#header{
	width: 100%;
	display: flex; 
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-between; /*make sure each element is on either side of container*/
	position:  relative;
}


h1{
	color: mediumpurple;
	font-family: 'The Nautigal', cursive;
}

/*create button for resume*/
.resume-button{
	color:  black;
	letter-spacing: 1px; /*1px of space between each letter*/
	border-radius:  25px;
	border: 1px solid black;
	background:  black;
	width:  100px;
	height: 50px;
	transition: 800ms ease all;
	margin-top: 25px;


}

/*any link inside of resume button*/

.resume-button a{
	color: white;
	font-weight: 400;
	font-size: 15px;

}

.resume-button a:hover{
	color: black; 
	font-weight: 400;
	transition: 0ms;
}
.resume-button:hover{
	background:  white;
	transition:  800ms ease all;
}

#container{
	flex-direction: row;
	width: 100%;
	padding: 2% 7% 0% 7%;
	height: 50%;
	background: transparent;
	border-color: 1px solid black; 
	display: inline-flex;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}


.column-left{
	float: left;
	width: 28%;
	height: 80%;
	border-radius: 20px;
	/*font-size: 14px;*/
	padding: 3%;
	background: transparent;
	transition: 800ms ease all;
}

.column-left:hover{
	transform: scale(1.1);
	-webkit-box-shadow:  0px 0px 36px 4px #D9D9D9;
	box-shadow: #D9D9D9;
	transition: 800ms ease all;
	border:  1px solid black;
	background: transparent;
}

.column-middle{
	width:  28%;
	height: 80%;
	border-radius: 20px;
	/*font-size: 14px;*/
	padding:  3%;
	background : transparent;
}


.column-middle:hover{
	transform: scale(1.01);
	-webkit-box-shadow:  0px 0px 36px 4px #D9D9D9;
	box-shadow: #D9D9D9;
	transition: 800ms ease all;
	border: 1px solid black;
}

.column-right{
	float: right;
	width:  28%;
	height:  60%;
	border-radius: 20px;
	/*font-size: 14px;*/
	/*color:  black*/;  /*changes color of text*/
	padding: 3%;
	background: transparent;
}


.column-right:hover{
	/*transform: rotate(45deg);*/
	transform: scale(1.1);
	-webkit-box-shadow:  0px 0px 36px 4px #D9D9D9;
	box-shadow: #D9D9D9;
	transition: 800ms ease all;
	border: 1px solid black;

}



p{
	font-size:  20px; 
	font-family: 'Times New Roman', Times, serif;
	color:  black;
	line-height: 25px;
	border-radius: 20px;
	padding: 2% 8% 2% 8%;
	background-color: yellowgreen;

}

#bioNlinks{
	width: 100%;
	padding:  2% 15% 0% 0%;
	align-items: center;
	margin-top: 100px;
	border:  1px solid red;
	display: inline-flex;
}

.bioBox{
	text-align: left;
	width: 60%;
	line-height: 24px;
	height: auto;
	flex-grow: 1;
	margin-bottom: 5%;
}

.linkBox{
	width: 25%;
	height: 100px;
	background-color: blueviolet;
	text-align: middle;
	margin-top: -18%;
	padding-left: 0%;
}

.links{
	color:  black;
	font-size: 14px;
	display: block;
	text-align: left;
}





}
